.footer {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    background-color: rgba(255, 228, 196, 0.65);
}
.footer__text {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
    text-shadow: 3px 2px 1px bisque;
}